/*scroll to top start*/
.go-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  display: none;
}
.st {
}
.st a {
  width: 40px;
  height: 40px;
  background: linear-gradient(
    180deg,
    rgba(127, 127, 127, 1) 20%,
    rgba(221, 221, 221, 1) 80%
  );
  color: #ffffff;
  border-radius: 50%;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}
/*scroll to top end*/
